<!-- <div class="navbar">
  <div class="logo">🎬 MovieBookingApp</div>
  <div class="menu">
    <a>Home</a>
    <a>Register</a>
    <a>Login</a>
  </div>
</div> -->

<div class="container">

  <h2>📽️ Now Showing</h2>

  <div class="search-box">
    <input [(ngModel)]="searchText" placeholder="Search movies..." />
    <button (click)="search()">Search</button>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let m of filteredMovies">

      <h3>{{ m.movieName }}</h3>
      <p>{{ m.theatreName }}</p>

      <p>Available: {{ m.availableTickets }}</p>

      <p>
        Status:
        <span [class]="m.status.replace(' ','')">
          {{ m.status }}
        </span>
      </p>

      <button
        *ngIf="m.availableTickets > 0"
        [routerLink]="['/book', m.movieName, m.theatreName]">
        Book Now
      </button>

      <button class="sold" *ngIf="m.availableTickets === 0">
        Sold Out
      </button>

    </div>
  </div>
</div>
