.my-tickets-container {
  max-width: 1100px;
  margin: auto;
  padding: 30px 15px;
  text-align: center;
}

.ticket-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.ticket-card {
  background: #fff;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}
.status {
  color: green;
    font-weight: bold;
}
 /* Responsive */
@media (max-width: 900px) {
  .ticket-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ticket-grid {
    grid-template-columns: 1fr;
  }
}
