.navbar {
  height: 60px;
  background: linear-gradient(to right, #003366, #00a3cc);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  color: white;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  text-decoration: underline;
}

.username {
  font-weight: 600;
   color: yellow;
}

.logout-btn {
  background: #ff4d4f;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.9;
}
