/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-bg {
  min-height: 100vh;
  background: #f4f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
